.Bio {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
}

.Text {
    display: flex;
    width: 100%;
    font-size: 12pt;
}

.Text p {
    padding: 0 10px;
    color: #292929;
}

.ProfileImg {
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 150px;
    width: 100%;
    height: auto;
}

.ProfileImg img {
    display: block;
    width: 100%;
    height: auto;
    border: 8px solid white;
    border-radius: 100%;
}

@media (max-width: 500px) {
    .Bio {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
}