.Section {
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    padding-bottom: 30px;
    align-items: center;
    width: 80%;
}

.Anchor {
    display: block;
    height: 56px;
    margin-top: -56px;
    visibility: hidden;
}