.Project {
    display: flex;
    flex-flow: column;
}

.ProjectImg {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}