.Project {
    display: flex;
    flex-flow: column;
    margin: 14px;
    box-shadow: 0 3px 4px rgb(94, 94, 94);
}

.ProjectImg {
    width: 100%;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.Title {
    align-content: center;
    text-align: center;
    background-color: white;
}