.NavItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavItem p {
    color: white;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    cursor: pointer;
}

.NavItem p:hover,
.NavItem p:active,
.NavItem p.NavActive {
    border-bottom: 3px solid #003a55;
    color: #003a55;
}

@media (min-width: 500px) {
    .NavItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavItem p {
        color: white;
        height: 100%;
        padding: 16px 10px;
    }

    .NavItem p:hover,
    .NavItem p:active,
    .NavItem p.active {
        color: #003a55;
    }
}